<div class="container">
  <div class="form-group" style="border-bottom: 2px solid red;">
    <h3 class="text-uppercase">About us</h3>
  </div>
  <div class="form-group text-justify">
    <label style="line-height: 1.7em;">
      Founded in the year 1998, we <b>“Shree Durga Rubber Products”</b> are a dependable and famous manufacturer of a broad
      range of <b> Seal, Rubber Ring, PU Rollers, Rubber Seal, Rubber Diaphragm, Rubber Gasket, Rubber Molded</b>, etc. We
      are a <b> Partnership</b> company, which is located in <b> Ahmedabad (Gujarat, India).</b> We provide these products in diverse
      specifications to attain the complete satisfaction of the clients. Further, our b logistic support makes sure
      that these products are delivered within the promised time-frame. Under the supervision of <b> “Mr. R B Yadav”
      (Partner)</b>, we have gained huge clientele in our country.
    </label>
  </div>
</div>
