<!-- Banner section start here -->
<div class="banner-section text-center">
  <div class="banner-section-content">
    <div class="form-group">
      <h1 class="text-uppercase">Welcome To Shree Durga Rubber Products</h1>
    </div>
    <div class="form-group">
      <p class="text-uppercase" style="font-size: 18px;">We take care about your choice</p>
    </div>
    <div class="form-group">
      <button class="text-uppercase sdrp-button" routerLink="/product-category" style="font-size: 16px;">Explore more</button>
    </div>
  </div>
</div>
<!-- Banner section end here -->

