<div class="container">
  <div class="form-group" style="border-bottom: 2px solid red;">
    <h3 class="text-uppercase">Factsheet</h3>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Nature of Business</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.businessNature }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Additional Business</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.additionalBusiness }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Company CEO</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.companyCEO }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Total Number of Employees</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.noOfEmployees }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Established Year</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.establishmentYear }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Legal Status of Firm</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.legalstatusofFirm }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Annual Turnover</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.annualTurnover }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">GST No</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.gSTNo }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Payment Mode</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.paymentMode }}</label>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div class="col-md-3">
        <label class="sdrp-button">Shipment Mode</label>
      </div>
      <div class="col-md-3">
        <label>{{ factsheet.shipmentOption }}</label>
      </div>
    </div>

  </div>
</div>
